<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="LaserficheServerDEV" value="serverdev" />
    <add key="LaserficheServerQA" value="serverqa" />
    <add key="LaserficheServerUAT" value="serveruat" />
    <add key="LaserficheServerPROD" value="serverprod" />
    <add key="CMTDEV" value="http://localdev"/>
    <add key="CMTQA" value="http://localqa"/>
    <add key="CMTUAT" value="http://localuat"/>
    <add key="CMTPROD" value="http://localprod"/>
    <add key="MaxThreadNumber" value="1"/>
  </appSettings>
  <connectionStrings>
    <add name="SQLDEV" providerName="System.Data.SqlClient" connectionString="Data Source=PWANG;Initial Catalog=test;Integrated Security=true" />
    <add name="SQLQA" providerName="System.Data.SqlClient" connectionString="Data Source=SQLQA;Initial Catalog=iStage;Integrated Security=true" />
    <add name="SQLUAT" providerName="System.Data.SqlClient" connectionString="Data Source=SQLUAT;Initial Catalog=iStage;Integrated Security=true" />
    <add name="SQLPROD" providerName="System.Data.SqlClient" connectionString="Data Source=SQLPROD;Initial Catalog=iStage;Integrated Security=true" />
  </connectionStrings>
</configuration>